doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .galvanize
      img(src='/images/galvanize.png')
      h3 Express Passport PostgreSQL oAuth Strategies
    
    .container
      block content
